.btn {
  height: 32px !important;
  font-size: 14px !important;
  border-radius: 2px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: orange !important;
}
uni-button,
wx-button,
button {
  margin-left: inherit !important;
  margin-right: inherit !important;
  @extend .btn;
}

uni-input {
  height: 32px;
  border: 1px solid #d9d9d9;
  padding: 2px 8px;
}
.uni-input-placeholder {
  padding-left: 8px;
}

.uni-picker-item {
  width: 100px;
}
// .uni-picker-container .uni-picker-custom {
//   width: 100px !important;
// }
.uni-picker-container .uni-picker-custom.uni-picker-toggle {
  width: 100px !important;
  left: 1028.469px !important;
}

.background-cover {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('https://picsum.photos/1920/1080');
  background-size: cover;
  background-position: center;
}
