.btn {
  height: 32px;
  font-size: 14px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
uni-button {
  margin-left: inherit !important;
  margin-right: inherit !important;
}
